*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
.navbar-style{
    display: flex;
    padding: 10px;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 1;
}
.navbar-a{
    font-family: "Montserrat", sans-serif;
    color: #fff;
    margin: 0em 0.3em;
    padding: 5px 10px;
    transition: all 0.5s;
    text-transform: uppercase;
}
.navbar-a:hover {
    color: #fff;
    border-radius: 0.2em;
    background-color:rgba(255, 255, 255, 0.30);
    border-left: 0.1em solid #fff;
    padding: 0em 0.2em;
}
.navbar-submenu{
    display: none;
    position: relative;
    background-color: black;
}
.nav li:hover > ul{
    display: block;
}
.navbar-suba{
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-size: .9rem;
    text-decoration: none;
    margin: 0.1em 0;
    padding: 5px 5px 5px 0;
    transition: all 0.5s;
    text-transform: uppercase;
}
.navbar-suba:hover{
    color: #fff;
    background-color:rgba(255, 255, 255, 0.30);
    border-radius: 0.2em;
    border-left: 0.1em solid #fff;
    padding: 0em 0.5em;
}

/* COMIENZO-MAIN */

.oracion_testimonio{
    padding: .3em;
    margin: 1em;
    text-transform: uppercase;
    backdrop-filter: blur(1rem);
    box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, .3);
}
.enlace_temtes{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    padding: 0 .8em;
    background-color: rgb(40, 122, 189);
    border: none;
    border-radius: 5em;
}
.enlace_temtes:hover{
    color:  rgb(40, 122, 189);
    background-color: #fff;
    border: solid .2em  rgb(40, 122, 189);
}

.navbar_h1{
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    margin-left: .5em;
}
.color-iconbar {
    background-color: #fff;
  }

.navheader_logo{
    width: 2em;
}

/* ------FORMULARIO-SUSCRIBIR------ */

.suscribir-index{
    text-transform: uppercase;
    padding: 3em 0;
    background-color: rgb(43, 42, 42);
}
.form-textindex{
    color: #fff;
}
.style_input{
    padding: .2em 1em;
    margin: .8em 0;
    background: none;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5em;
    border-bottom: #fff solid .1em;
}
.style_input:hover{
    padding: .2em 1em;
    margin: .8em 0;
    background: none;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5em;
    border-bottom: rgb(92, 165, 224) solid .2em;
    transition: all 0.3s ease;
}
.style_input-submit{
    text-transform: uppercase;
    padding: .3em 2em;
    margin: .8em .8em;
    border: none;
    border-radius: 5em;
}
.style_input-submit:hover{
    color: #fff;
    background-color:  rgb(43, 42, 42);
    border: .2em solid #fff;
}

/* -----FOOTER----- */

.footer{
    padding: 2em 0;
    color: #fff;
    background-color: black;
}
.footer h2{
    text-transform: uppercase;
}
.icon-redes{
    color: #fff;
}
