@mixin secc_portada(){
  width: 90%;
  margin: 1em auto 1em;
  display: flex;
  justify-content: center;
}
@mixin seccion_page(){
  width: 100%;
  margin-top: 10px;
  padding: 1em;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(1rem);
  // background-color: $color-fondosec;
  box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, .2);
  transition: all ease 1s;
}
@mixin contenedor_seccion-page(){
    width: 95%;
    margin: 2em auto;
    padding: 1em;
    border-radius: 10px;
    backdrop-filter: blur(1rem);
    background-color: $color-fondosec;
    box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, .2);
    transition: all ease 1s;
}
@mixin borde_izquierdo(){
  border-left: solid .2em black;
}
@mixin borde_derecho(){
  border-right: solid .2em black;
}