$color-primario: #ff6d00;
$color-primario2: #ff6f002a;
$color-secundario: #3d3c3b;
$color-fff: #fff;
$color-h3: rgb(34, 28, 28);
$color-fondosec: rgba(255, 255, 255, 0.30);
$color-fondosech: rgba(255, 255, 255, 0.50);
$color-btn: gradient(black orange);
$color-negro: black;

$font-h2:'Montserrat', sans-serif;
$font-h3: 'Lora', serif;
$font-p: 'Roboto Slab', serif;
$font-span: 'Roboto Mono', monospace;
