.footer {
  width: 100%;
  color: $color-fff;
  background-color: $color-secundario;
  margin-top: 1em;
}

/*----COLUMNA-PRODUCTO-----*/
.h2-footer {
  color: $color-fff;
  text-decoration: none;
  &:hover{
    color: $color-fff;
  }
}
/*----COLUMNA-REDES-FOOTER-----*/
.span-icon {
  color: $color-fff;
}
.icon-w {
  color: $color-fff;
}
.icon-f {
  color: $color-fff;
}
.icon-y {
  color: $color-fff;
}
.icon-i {
  color: $color-fff;
}
.span-icon {
  color: $color-fff;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  margin-left: 1em;
}
