/*-----SEC-QUIENES SOMOS-----*/
.oracion_testimonio{
  padding: .3em;
  margin: 1em;
  text-transform: uppercase;
  backdrop-filter: blur(1rem);
  box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, .3);
}
.enlace_temtes{
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  padding: 0 .8em;
  background-color: rgb(40, 122, 189);
  border: none;
  border-radius: 5em;
}
.enlace_temtes:hover{
  color:  rgb(40, 122, 189);
  background-color: #fff;
  border: solid .2em  rgb(40, 122, 189);
}

.navbar_h1{
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  margin-left: .5em;
}
.color-iconbar {
  background-color: #fff;
}

.navheader_logo{
  width: 2em;
}