.portada_jovenes{
  background-color: #000;
}

.img_jovenes{
  display: flex;
  width: 600px;
  height: 430px;
}
.img_jovenes img{
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 8;
  transition: .5s ease;
}
.img_jovenes img:hover{
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}